*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: grey;

}
.slider-container{
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px white;
}

.slider{
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}
.slide{
    width: 100%;
    height: 100%;
}
.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(224, 239, 239);
    color: grey;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    transition:  background-color 0.3s;
}
.slider-btn:hover{
    background-color: cadetblue;

}
.prvs{
    left: 10px;
}
.next{
    right: 10px;
}

.dots-container{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}
.dot{
    width: 12px;
    height: 12px;
    background-color: rgb(231, 226, 218);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}
.dot.active{
    background-color: rgb(225, 145, 145);
}